<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zerobudbanker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp" >
        <activity
            android:name=".ProfileChoiceActivity"
            android:label="Profile"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AddDetailActivity"
            android:exported="false"
            android:label="Adding new entry"
            android:parentActivityName=".AddActivity" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            android:label="Categories"
            android:parentActivityName=".AddDetailActivity" />
        <activity
            android:name=".StatsActivity"
            android:exported="false"
            android:label="Statistics"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:exported="false"
            android:parentActivityName=".ProfileChoiceActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Adding new entry"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>