<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zerobudbanker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp">
        <activity
            android:name="com.example.zerobudbanker.AddDetailActivity"
            android:label="Adding new entry"
            android:parentActivityName="com.example.zerobudbanker.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zerobudbanker.CategoryActivity"
            android:label="Categories"
            android:parentActivityName="com.example.zerobudbanker.AddDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zerobudbanker.StatsActivity"
            android:parentActivityName="com.example.zerobudbanker.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zerobudbanker.ProfileActivity"
            android:parentActivityName="com.example.zerobudbanker.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zerobudbanker.AddActivity"
            android:parentActivityName="com.example.zerobudbanker.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zerobudbanker.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>