<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agedor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_ic_launcher__round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgeDor">
        <activity
            android:name=".view.EditerBudgetActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".view.enveloppes.depenses.NouvelleDepenseActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".view.enveloppes.depenses.ConsulterDepensesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".view.enveloppes.categories.EditCategoriesActivity"
            android:exported="false"
            android:parentActivityName=".view.EditerBudgetActivity" />
        <activity
            android:name=".view.dettes.EditDettesActivity"
            android:exported="false"
            android:parentActivityName=".view.EditerBudgetActivity" />
        <activity
            android:name=".view.revenus.EditRevenusActivity"
            android:exported="false"
            android:parentActivityName=".view.EditerBudgetActivity" />
        <activity
            android:name=".view.projets.EditProjetsActivity"
            android:exported="false"
            android:parentActivityName=".view.EditerBudgetActivity" />
        <activity
            android:name=".view.factures.EditFacturesActivity"
            android:exported="false"
            android:parentActivityName=".view.EditerBudgetActivity" />
        <activity
            android:name=".view.introduction.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".view.introduction.Fragment1"
            android:exported="false"
            android:parentActivityName=".view.introduction.IntroActivity" />
        <activity
            android:name=".view.introduction.Fragment2"
            android:exported="false"
            android:parentActivityName=".view.introduction.Fragment1" />
        <activity
            android:name=".view.introduction.Fragment3"
            android:exported="false"
            android:parentActivityName=".view.introduction.Fragment2" />
        <activity
            android:name=".view.introduction.Fragment4"
            android:exported="false"
            android:parentActivityName=".view.introduction.Fragment3" />
        <activity
            android:name=".view.introduction.Fragment5"
            android:exported="false"
            android:parentActivityName=".view.introduction.Fragment4" />



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>